body {
    font-family: arial;
    font-size: 125%;
}

.allergen{
    font-weight: bold;
}

#footer{
    text-align: right;
}

#burger_select{
    margin: 20px 5px 0px 5px;

    background-color: black;
    color: white;
    border: dashed white 3px;
}

#payment_info{
    margin: 20px 5px 0px 5px;

    padding: 2% 5%;
    border: dashed black 3px;
}

button:hover {
background-color: green;
    cursor:pointer;
}

#top{
    margin: 0px 5px 0px 5px;
    overflow: hidden;
    height: 350px;
}

#background{
    opacity: 0.7;
    width: 100%;
    height: auto;
}

#footer{
    font-size: small;
}

table{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-width: medium;
    text-align:center;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 280px 280px 280px 280px 280px 280px;
    background-color: black;
    color: white;
    align-items: stretch;
    text-align: center;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 100%;
    text-align: center;
}

.a {
    grid-column: 1 / span 3;
    grid-row: 1;
}
.b {
    grid-column: 4 / span 3;
    grid-row: 1;
}
.c {
    grid-column: 7 / span 3;
    grid-row: 1;
}

.d {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.e {
    grid-column: 4 / span 3;
    grid-row: 2;
}
.f {
    grid-column: 7 / span 3;
    grid-row: 2;
}

.boxContent {
    align-content: center;
}


#top_title{
    text-align: center;
    position: absolute;
    font-size: 3em;
    color: black;
    opacity: 1;
    padding-left: 30%;
    padding-top: 5%;
    margin-top: -20%;
}

button{
    margin-left: 10%;
    margin-top: 25px;
}
/*
body {
    margin: 0;
    padding: 0;
}
*/
.view-box {
    width: 90%;
    height: 50vh;
    margin: 1em auto;
    overflow: scroll;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
#dots {
    position: relative;
    margin: 0;
    padding: 0;
    background: url(/img/polacks.jpg);
    background-repeat: no-repeat;
    width:1920px;
    height: 1078px;
    cursor: crosshair;
}

#dots div {
    position: absolute;
    background: black;
    color: white;
    border-radius: 10px;
    width:20px;
    height:20px;
    text-align: center;
}

#orderList {
    top:1em;
    left:1em;
    position: absolute;
    z-index: 2;
    color:black;
    background: rgba(255,255,255, 0.5);
    padding: 1em;
}